<%= form_for([:admin, @category]) do |f| %>
    <%= render 'common/errors', object: @category %>


    <div class="field">
      <%= f.text_area :name %>
    </div>
    <div class="actions">
      <%= f.submit t('.submit')%>
    </div>
<% end %>