<p>Привет <%= @resource.email %>!</p>

<p>Кто-то сделал запрос на смену Вашего пароля. Вы можете сделать это по ссылке:</p>

<p><%= link_to t('.subject'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы не делали этот запрос просто проигнарируйте данное сообщение.</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не пройдёте по ссылке и не измените его.</p>
